@charset "utf-8";
/* CSS Document */

/*********************************************************************
**** RESET CSS *******************************************************
*********************************************************************/
@import url("reset.css");

/*********************************************************************
**** FONT-FACE *******************************************************
*********************************************************************/
@font-face{
  font-family: 'ForzaMedium';
  src: url('fonts/forza_medium.eot');
  src: url('fonts/forza_medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/forza_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'ForzaBold';
  src: url('fonts/forza_bold.eot');
  src: url('fonts/forza_bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/forza_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*********************************************************************
*** CSS STYLES *******************************************************
*********************************************************************/
*, *:before, *:after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background: #fff;
}

/*********************************************************************
*** CLEAR FIX ********************************************************
*********************************************************************/
.clear{
  clear: both;
}

/*********************************************************************
*** VERSIÓN: TABLET / MOVIL (MEDIA-QUERIES) **************************
*********************************************************************/
@media (width: 1366px) and (max-height: 668px){



}

@media (max-width: 1100px){



}
